* {
	font-family: 'Poppins', sans-serif;
}

header {
	background-color: #007094;
	color: white;
	height: 90px;
	display: inline-block;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 1;
}

header a {
	color: white;
	height: 16px;
	display: flex;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
}

a {
	text-decoration: none;
}

#div-header-logo {
	float: left;
	height: 90px;
	display: inline-flex;
	align-items: center;
	padding: 0px 10px;
	max-width: 89vw;
}

#div-header-options {
	float: right;
	height: 90px;
	margin-right: 10px;
	display: inline-flex;
	align-items: center;
}

.d {
	display: inline-block;
}

.b {
	border: 1px solid black;
}

/* CSS */
.button-23 {
	background-color: #007094;
	border: 1px solid #FFFFFF;
	border-radius: 8px;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	line-height: 5px;
	margin: 0;
	outline: none;
	padding: 13px 10px;
	position: relative;
	text-align: center;
	touch-action: manipulation;
	transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s,
		transform .1s;
	user-select: none;
	-webkit-user-select: none;
	width: auto;
	display: inline-flex;
	align-items: center;
}

.button-23:active {
	background-color: #FFFFFF;
	transform: scale(.96);
	color: #007094;
}

.button-23:disabled {
	border-color: #DDDDDD;
	color: #DDDDDD;
	cursor: not-allowed;
	opacity: 1;
}

.evt-hover:hover {
	transform: scale(1.05);
	transition-duration: .35s;
	margin-right: 5px;
	margin-left: 5px;
}

section {
	width: 100%;
}

#section-header {
	height: 90px;
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.number {
	display: inline-block;
	width: 28px;
	height: 25px;
	border: 2px solid #007094;
	background-color: #007094;
	color: #FFFFFF;
	text-align: center;
}

.pd-left-10 {
	padding-left: 10px;
}

.step-card {
	height: 35px;
	width: auto;
	border: 2px dashed #007094;
	display: flex;
	align-items: center;
}

.tram-type-card {
	height: 210px;
	width: 150px;
	border: 2px solid #007094;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 30px;
}

.tram-type-card:hover {
	transform: scale(1.05);
	transition-duration: .35s;
}

.tram-content-card {
	height: 210px;
	text-align: center;
}

.tram-tittle-card {
	background-color: #007094;
	width: 100%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFFFFF;
}

#tram-type-container {
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#tram-types-cont {
	width: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

#text-input-search {
	height: 30px;
	display: flex;
	align-items: center;
}

#cont-search {
	display: flex;
	align-items: center;
	justify-content: end;
	width: 33%;
	float: right;
}

#input-search {
	width: 220px;
	height: 30px;
}

#input-search:focus {
	border: none;
	outline: none;
	border-bottom: 1px solid #414339;
}

input[type=text] {
	padding: 0.2rem 0.2rem;
	margin-left: 10px;
}

#cont-filters-search {
	display: flex;
	align-items: center;
	padding: 20px 10px;
}

.filters-search {
	width: 33%;
	float: left;
	display: flex;
	align-items: center;
}

th {
	border-bottom: 1px solid #414339;
	padding: 10px 0px;
}

@media ( max-width :625px) {
	header {
		height: 180px;
	}
	.button-23 {
		font-size: 12px;
	}
	#div-header-options, #div-header-logo {
		float: none;
		justify-content: center;
		width: 100%;
	}
	.tram-type-card {
		margin-top: 20px;
		width: 85%;
	}
	#tram-type-container {
		display: block;
		left: 50%;
		height: auto;
		padding-bottom: 20px;
	}
	#tram-types-cont {
		display: grid;
	}
	.step-card {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	#cont-search {
		justify-content: center;
		width: 100%;
	}
	.filters-search {
		justify-content: center;
		width: 93vw;
	}
	.filters-search p {
		display: none;
	}
	#cont-filters-search {
		height: 150px;
		display: block;
		padding: 10px 0px;
	}
	#cont-filters-search div {
		padding-top: 10px;
	}
	#th-name-tram {
		width: 10vw;
	}
	#th-escuela-tram {
		display: none;
	}
}