@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: rgb(5, 59, 104);
    padding: 40px;
}

.container {
    border-radius: 15px;
    min-height: calc(100vh - 50rem);
    display: grid;
    padding-top: 50px;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}

div .group_icon img {
    position: relative;
    margin-left: 90%;
    top: -42px;
    width: 30px;
    height: 30px;
}

.login-left {
    border-radius: 15px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    background-color: white;
}

.form-item label:not(.checkboxLabel) {
    display: inline-block;
    background-color: white;
    margin-bottom: 10px;
    position: absolute;
    padding: 0 10px;
    transform: translate(30px, -10px);
    font-size: 14px;
}

.login-right {
    border-radius: 0px 15px 0px 0px;
    background-color: #eeee;
    display: flex;
    justify-content: center;
}

.login-right img {
    border-radius: 0px 15px 0px 0px;
    width: 100%;
    height: 100%;
}

.captcha {
    padding-top: 5px;
    width: 149px;
    border-radius: 4px;
    padding-left: 80px;
}

.login-header img {
    padding-left: 80px;
}

.login-header p {
    padding: 8px;
    opacity: 0.7;
}

.login-form {
    width: 450px;
}

.login-form-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

input[type=text] {
    border: 1px solid black;
    outline: none;
    height: 55px;
    padding: 0 2rem;
    border-radius: 2px;
    width: 100%;
    transition: background 0.5s;
    font-size: 18px;
}

input[type=text]:focus {
    border-radius: #131086;
}


button {
    border: none;
    background: #2685A4;
    color: white;
    padding: 1rem;
    border-radius: px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 18px;
    height: 55px;
    cursor: pointer;
}


@media(max-width: 1350px) {
    .login-header img {
        padding-left: 20px;
    }

    .login-left {
        padding: 50px !important;
    }

    .login-form {
        width: 100%;
    }
}

@media(max-width: 768px) {

    .login-left {
        border-radius: 15px 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 150px;
        background-color: white;
    }

    .login-right img {
        width: 20%;
        height: 20%;

    }

    .login-header p {
        padding: 8px;
        opacity: 0.7;
        font-size: 12px;
    }

    button {
        border: none;
        background: #2685A4;
        color: white;
        padding: 1rem;
        border-radius: px;
        text-align: center;
        letter-spacing: 1px;
        font-size: 18px;
        height: 55px;
        cursor: pointer;
        margin-top: -20px;
    }
    

    div .group_icon img {
        position: relative;
        margin-left: 80%;
        top: -38px;
        width: 25px;
        height: 25px;
    }

    input[type=text] {
        border: 1px solid black;
        outline: none;
        height: 50px;
        padding: 0 2rem;
        border-radius: 2px;
        width: 100%;
        transition: background 0.5s;
        font-size: 12px;
    }

    .form-item label:not(.checkboxLabel) {
        display: inline-block;
        background-color: white;
        margin-bottom: 10px;
        position: absolute;
        padding: 0 5px;
        transform: translate(30px, -10px);
        font-size: 12px;
    }

    .login-header img {
        width: 110%;
        display: inline-block;
    }

    .captcha {
        transform: scale(0.76);
        transform-origin: -210px 10px;
    }

    body {
        padding: 20px;
    }

    .container {
        width: 100%;
        grid-template-columns: 100%;
    }

    .login-right {
        display: none;
    }
}